.card {
    background-color: white;
    border: 1px solid #b1b1b1;
  }
  
  .w-400 {
    width: 400px;
  }
  
  .content {
    min-height: 85vh;
    border: 1px solid #b1b1b1;
  }
  
  .underline {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  i {
    font-size: 20px;
  }
  
  table {
    border: 1px solid #b1b1b1;
  }
  thead th {
    border-bottom: 1px solid #b1b1b1 !important;
    text-transform: uppercase;
  }
  
  .search-input {
    height: 60px;
    border-radius: 5px;
  }
  
  .divider {
    border-bottom: 1px solid #e1e1e1;
    margin: 10px 0;
  }
  
  /* seats */
  
  .seat {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid #b1b1b1;
    cursor: pointer;
  }
  
  
  .selected-seat {
    background-color: #118838;
  }
  
  .selected-seat h1 {
    color: white !important;
  }
  
  .booked-seat {
    background-color: #b1b1b1;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  /* loader  */
  
  .loader-parent {
    position: fixed;
    background-color: black;
    inset: 0;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
  }
  
  .loader {
    height: 30px;
    width: 30px;
    border: 4px solid var(--colour-secondary);
    border-top-color: var(--colour-primary);
    border-radius: 50%;
    animation: loader-anim 1s linear infinite;
  }
  
  /* loader animation */
  
  @keyframes loader-anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }