.h-screen{
    height: 100vh;
}

.w-screen{
    width: 100vw;
}
.w-full{
    width: 100%;
}
.w-50{
    width: 80%;
}


.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 24px;
}

.text-3xl {
    font-size: 30px;
}

.border {
    border-width: 1px;
}

.br-1 {
    border-radius: 4px;
}