.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-container {
  display: flex;
  gap: 10px;
}

.star {
  font-size: 40px;
  color: gray;
  cursor: pointer;
}

.star-colored {
  color: gold;
}